In [1]:
# Import Required Libraries

from bs4 import BeautifulSoup
import requests

In [2]:
# 1) Write a python program to display all the header tags from wikipedia.org.

In [3]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [4]:
page

In [5]:
# Page content

soup=BeautifulSoup(page.content)

In [6]:
header_tag=[]

for i in soup.find_all('span',class_="mw-headline"):
    header_tag.append(i.text)
header_tag

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [7]:
#2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [8]:
page=requests.get('https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating')
page

In [9]:
# Page content

soup=BeautifulSoup(page.content)

In [11]:
movie_name=[]

for i in soup.find_all('h3',class_='lister-item-header'):
    movie_name.append(i.text.replace("\n",""))
movie_name[:101]

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Dark Knight(2008)',
 '4.The Lord of the Rings: The Return of the King(2003)',
 '5.The Godfather Part II(1974)',
 "6.Schindler's List(1993)",
 '7.12 Angry Men(1957)',
 '8.Pulp Fiction(1994)',
 '9.777 Charlie(2022)',
 '10.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '11.Fight Club(1999)',
 '12.Inception(2010)',
 '13.Forrest Gump(1994)',
 '14.The Lord of the Rings: The Two Towers(2002)',
 '15.Il buono, il brutto, il cattivo(1966)',
 '16.Jai Bhim(2021)',
 '17.Rocketry: The Nambi Effect(2022)',
 '18.GoodFellas(1990)',
 '19.The Matrix(1999)',
 "20.One Flew Over the Cuckoo's Nest(1975)",
 '21.The Empire Strikes Back(1980)',
 '22.Soorarai Pottru(2020)',
 '23.Interstellar(2014)',
 "24.It's a Wonderful Life(1946)",
 '25.Se7en(1995)',
 '26.Star Wars(1977)',
 '27.The Silence of the Lambs(1991)',
 '28.The Green Mile(1999)',
 '29.Terminator 2: Judgment Day(1991)',
 '30.Saving Private Ryan(1998)',
 '31.Cidade de Deus(2002)',
 '32.Sen to Chihiro no kamikakushi(2001)',
 '33.La vita è bella(1997)',
 '34.Sita Ramam(2022)',
 '35.Shichinin no samurai(1954)',
 '36.Seppuku(1962)',
 '37.Whiplash(2014)',
 '38.Léon(1994)',
 '39.Gisaengchung(2019)',
 '40.Gladiator(2000)',
 '41.Back to the Future(1985)',
 '42.The Prestige(2006)',
 '43.Apocalypse Now(1979)',
 '44.The Departed(2006)',
 '45.Alien(1979)',
 '46.The Usual Suspects(1995)',
 '47.American History X(1998)',
 '48.The Lion King(1994)',
 '49.The Intouchables(2011)',
 '50.The Pianist(2002)',
 '51.Once Upon a Time in the West(1968)',
 '52.Psycho(1960)',
 '53.Casablanca(1942)',
 '54.Hotaru no haka(1988)',
 '55.Rear Window(1954)',
 '56.Nuovo Cinema Paradiso(1988)',
 '57.Modern Times(1936)',
 '58.City Lights(1931)',
 '59.Kaithi(2019)',
 '60.96(II) (2018)',
 '61.Avengers: Endgame(2019)',
 '62.Raiders of the Lost Ark(1981)',
 '63.Joker(I) (2019)',
 '64.Django Unchained(2012)',
 '65.American Beauty(1999)',
 '66.Braveheart(1995)',
 '67.The Dark Knight Rises(2012)',
 '68.Spider-Man: Into the Spider-Verse(2018)',
 '69.Aliens(1986)',
 '70.Avengers: Infinity War(2018)',
 '71.The Shining(1980)',
 '72.Oldeuboi(2003)',
 '73.Memento(2000)',
 '74.Kantara(2022)',
 '75.Coco(I) (2017)',
 '76.Hamilton(2020)',
 '77.Amadeus(1984)',
 '78.Idi i smotri(1985)',
 '79.Kimi no Na wa.(2016)',
 '80.3 Idiots(2009)',
 '81.WALL·E(2008)',
 '82.The Lives of Others(2006)',
 '83.Capharnaüm(2018)',
 '84.Mononoke-hime(1997)',
 '85.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '86.Sunset Blvd.(1950)',
 '87.Das Boot(1981)',
 '88.Witness for the Prosecution(1957)',
 '89.Paths of Glory(1957)',
 '90.Vikram(2022)',
 '91.The Great Dictator(1940)',
 '92.Tengoku to jigoku(1963)',
 '93.Drishyam 2(2021)',
 '94.Sardar Udham(2021)',
 '95.Shershaah(2021)',
 '96.Asuran(2019)',
 '97.Top Gun: Maverick(2022)',
 '98.Good Will Hunting(1997)',
 '99.Heat(1995)',
 '100.Inglourious Basterds(2009)']

In [12]:
movie_ratings=[]

for i in soup.find_all('div',class_="inline-block ratings-imdb-rating"):
    movie_ratings.append(i.text.replace("\n",""))

movie_ratings[:101]

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [13]:
Movie_year=[]
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    Movie_year.append(i.text.replace("\n",""))

Movie_year[:101]

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1974)',
 '(1993)',
 '(1957)',
 '(1994)',
 '(2022)',
 '(2001)',
 '(1999)',
 '(2010)',
 '(1994)',
 '(2002)',
 '(1966)',
 '(2021)',
 '(2022)',
 '(1990)',
 '(1999)',
 '(1975)',
 '(1980)',
 '(2020)',
 '(2014)',
 '(1946)',
 '(1995)',
 '(1977)',
 '(1991)',
 '(1999)',
 '(1991)',
 '(1998)',
 '(2002)',
 '(2001)',
 '(1997)',
 '(2022)',
 '(1954)',
 '(1962)',
 '(2014)',
 '(1994)',
 '(2019)',
 '(2000)',
 '(1985)',
 '(2006)',
 '(1979)',
 '(2006)',
 '(1979)',
 '(1995)',
 '(1998)',
 '(1994)',
 '(2011)',
 '(2002)',
 '(1968)',
 '(1960)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1936)',
 '(1931)',
 '(2019)',
 '(II) (2018)',
 '(2019)',
 '(1981)',
 '(I) (2019)',
 '(2012)',
 '(1999)',
 '(1995)',
 '(2012)',
 '(2018)',
 '(1986)',
 '(2018)',
 '(1980)',
 '(2003)',
 '(2000)',
 '(2022)',
 '(I) (2017)',
 '(2020)',
 '(1984)',
 '(1985)',
 '(2016)',
 '(2009)',
 '(2008)',
 '(2006)',
 '(2018)',
 '(1997)',
 '(1964)',
 '(1950)',
 '(1981)',
 '(1957)',
 '(1957)',
 '(2022)',
 '(1940)',
 '(1963)',
 '(2021)',
 '(2021)',
 '(2021)',
 '(2019)',
 '(2022)',
 '(1997)',
 '(1995)',
 '(2009)']

In [14]:
# Making DataFrame

import pandas as pd 
IMDB_top_rated_100_movies=pd.DataFrame({'movie_name':movie_name,'movie_ratings':movie_ratings,'Movie_year':Movie_year})
IMDB_top_rated_100_movies=IMDB_top_rated_100_movies.style.hide(axis='index')
IMDB_top_rated_100_movies

In [15]:
# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [16]:
page=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [17]:
# Page content

soup2=BeautifulSoup(page.content)

In [18]:
movie_names=[]

for i in soup2.find_all("td",class_="titleColumn"):
    movie_names.append(i.text.replace("\n",""))
movie_names[:100]

['      1.      Ramayana: The Legend of Prince Rama(1993)',
 '      2.      Rocketry: The Nambi Effect(2022)',
 '      3.      Golmaal(1979)',
 '      4.      Nayakan(1987)',
 '      5.      Anbe Sivam(2003)',
 '      6.      777 Charlie(2022)',
 '      7.      Jai Bhim(2021)',
 '      8.      Pariyerum Perumal(2018)',
 '      9.      3 Idiots(2009)',
 '      10.      Manichitrathazhu(1993)',
 '      11.      Apur Sansar(1959)',
 '      12.      #Home(2021)',
 '      13.      Black Friday(2004)',
 '      14.      Soorarai Pottru(2020)',
 '      15.      Kumbalangi Nights(2019)',
 '      16.      Taare Zameen Par(2007)',
 '      17.      C/o Kancharapalem(2018)',
 '      18.      Kireedam(1989)',
 '      19.      Dangal(2016)',
 '      20.      Kaithi(2019)',
 '      21.      Jersey(2019)',
 '      22.      Maya Bazaar(1957)',
 '      23.      96(2018)',
 '      24.      Natsamrat(2016)',
 '      25.      Asuran(2019)',
 '      26.      Thevar Magan(1992)',
 '      27.      Drishyam 2(2021)',
 '      28.      Visaaranai(2015)',
 '      29.      Sita Ramam(2022)',
 '      30.      Thalapathi(1991)',
 '      31.      Sarpatta Parambarai(2021)',
 '      32.      Pather Panchali(1955)',
 '      33.      Nadodikkattu(1987)',
 '      34.      Jaane Bhi Do Yaaro(1983)',
 '      35.      Thani Oruvan(2015)',
 '      36.      Drishyam(2013)',
 '      37.      Sardar Udham(2021)',
 '      38.      Aparajito(1956)',
 '      39.      Vada Chennai(2018)',
 '      40.      Khosla Ka Ghosla!(2006)',
 '      41.      Ratsasan(2018)',
 '      42.      Anniyan(2005)',
 '      43.      Chupke Chupke(1975)',
 '      44.      Peranbu(2018)',
 '      45.      Mahanati(2018)',
 '      46.      Gangs of Wasseypur(2012)',
 '      47.      Bangalore Days(2014)',
 '      48.      Drishyam(2015)',
 '      49.      Satya(1998)',
 '      50.      Premam(2015)',
 '      51.      Agent Sai Srinivasa Athreya(2019)',
 '      52.      Devasuram(1993)',
 '      53.      Super Deluxe(2019)',
 '      54.      Bhaag Milkha Bhaag(2013)',
 '      55.      Tumbbad(2018)',
 '      56.      Andhadhun(2018)',
 '      57.      Vikram Vedha(2017)',
 '      58.      Guide(1965)',
 '      59.      Chithram(1988)',
 '      60.      Kannathil Muthamittal(2002)',
 '      61.      Zindagi Na Milegi Dobara(2011)',
 '      62.      Sairat(2016)',
 '      63.      Shahid(2012)',
 '      64.      Vikram(2022)',
 '      65.      Drishyam 2(2022)',
 '      66.      Chhichhore(2019)',
 '      67.      Aruvi(2016)',
 '      68.      Paan Singh Tomar(2012)',
 '      69.      Iruvar(1997)',
 '      70.      Swades: We, the People(2004)',
 '      71.      Pyaasa(1957)',
 '      72.      Munna Bhai M.B.B.S.(2003)',
 '      73.      Chak De! India(2007)',
 '      74.      Spadikam(1995)',
 '      75.      Uri: The Surgical Strike(2019)',
 '      76.      Mudhalvan(1999)',
 '      77.      Black(2005)',
 '      78.      Jo Jeeta Wohi Sikandar(1992)',
 '      79.      Hera Pheri(2000)',
 '      80.      Dhuruvangal Pathinaaru(2016)',
 '      81.      Lagaan: Once Upon a Time in India(2001)',
 '      82.      Papanasam(2015)',
 '      83.      Pudhu Pettai(2006)',
 '      84.      PK(2014)',
 '      85.      Queen(2013)',
 '      86.      Article 15(2019)',
 '      87.      Talvar(2015)',
 '      88.      Mandela(2021)',
 '      89.      OMG: Oh My God!(2012)',
 '      90.      Soodhu Kavvum(2013)',
 '      91.      Sarfarosh(1999)',
 '      92.      Sholay(1975)',
 '      93.      Udaan(2010)',
 '      94.      Barfi!(2012)',
 '      95.      The Legend of Bhagat Singh(2002)',
 '      96.      Jigarthanda(2014)',
 '      97.      Kaakkaa Muttai(2014)',
 '      98.      Kantara(2022)',
 '      99.      Ustad Hotel(2012)',
 '      100.      Theeran Adhigaaram Ondru(2017)']

In [19]:
movie_ratings=[]

for i in soup2.find_all("td",class_="ratingColumn imdbRating"):
    movie_ratings.append(i.text.replace("\n",""))
movie_ratings[:100]

['8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [20]:
movie_year=[]

for i in soup2.find_all("span",class_="secondaryInfo"):
    movie_year.append(i.text.replace("\n",""))
movie_year[:100]

['(1993)',
 '(2022)',
 '(1979)',
 '(1987)',
 '(2003)',
 '(2022)',
 '(2021)',
 '(2018)',
 '(2009)',
 '(1993)',
 '(1959)',
 '(2021)',
 '(2004)',
 '(2020)',
 '(2019)',
 '(2007)',
 '(2018)',
 '(1989)',
 '(2016)',
 '(2019)',
 '(2019)',
 '(1957)',
 '(2018)',
 '(2016)',
 '(2019)',
 '(1992)',
 '(2021)',
 '(2015)',
 '(2022)',
 '(1991)',
 '(2021)',
 '(1955)',
 '(1987)',
 '(1983)',
 '(2015)',
 '(2013)',
 '(2021)',
 '(1956)',
 '(2018)',
 '(2006)',
 '(2018)',
 '(2005)',
 '(1975)',
 '(2018)',
 '(2018)',
 '(2012)',
 '(2014)',
 '(2015)',
 '(1998)',
 '(2015)',
 '(2019)',
 '(1993)',
 '(2019)',
 '(2013)',
 '(2018)',
 '(2018)',
 '(2017)',
 '(1965)',
 '(1988)',
 '(2002)',
 '(2011)',
 '(2016)',
 '(2012)',
 '(2022)',
 '(2022)',
 '(2019)',
 '(2016)',
 '(2012)',
 '(1997)',
 '(2004)',
 '(1957)',
 '(2003)',
 '(2007)',
 '(1995)',
 '(2019)',
 '(1999)',
 '(2005)',
 '(1992)',
 '(2000)',
 '(2016)',
 '(2001)',
 '(2015)',
 '(2006)',
 '(2014)',
 '(2013)',
 '(2019)',
 '(2015)',
 '(2021)',
 '(2012)',
 '(2013)',
 '(1999)',
 '(1975)',
 '(2010)',
 '(2012)',
 '(2002)',
 '(2014)',
 '(2014)',
 '(2022)',
 '(2012)',
 '(2017)']

In [21]:
# Making DataFrame for top 100 Indian Movies

import pandas as pd 
IMDB_top_rated_100_Indian_movies=pd.DataFrame({'movie_names':movie_names[:100],'movie_ratings':movie_ratings[:100],'Movie_year':Movie_year[:100]})
IMDB_top_rated_100_Indian_movies=IMDB_top_rated_100_Indian_movies.style.hide(axis='index')
IMDB_top_rated_100_Indian_movies

In [22]:
# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)

In [23]:
page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [24]:
# Page content

soup3=BeautifulSoup(page.content)

In [25]:
# Names and Term of Office

President_Names_Terms=[]  # empty list for storing

for i in soup3.find_all('div',class_="presidentListing"):
    President_Names_Terms.append(i.text.replace("\n",""))
President_Names_Terms

['Shri Ram Nath Kovind (birth - 1945)Term of Office: 25 July, 2017 to 25 July, 2022 https://ramnathkovind.nic.in',
 'Shri Pranab Mukherjee (1935-2020)Term of Office: 25 July, 2012 to 25 July, 2017 http://pranabmukherjee.nic.in',
 'Smt Pratibha Devisingh Patil (birth - 1934)Term of Office: 25 July, 2007 to 25 July, 2012 http://pratibhapatil.nic.in',
 'DR. A.P.J. Abdul Kalam (1931-2015)Term of Office: 25 July, 2002 to 25 July, 2007 http://abdulkalam.nic.in',
 'Shri K. R. Narayanan (1920 - 2005)Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Dr Shankar Dayal Sharma (1918-1999)Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Shri R Venkataraman (1910-2009)Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Giani Zail Singh (1916-1994)Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Shri Neelam Sanjiva Reddy (1913-1996)Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)Term of Office: 24 August, 1974 to 11 February, 1977',
 'Shri Varahagiri Venkata Giri (1894-1980)Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Dr. Zakir Husain (1897-1969)Term of Office: 13 May, 1967 to 3 May, 1969',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)Term of Office: 13 May, 1962 to 13 May, 1967',
 'Dr. Rajendra Prasad (1884-1963) Term of Office: 26 January, 1950 to 13 May, 1962']

In [26]:
# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

In [27]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [28]:
# Page content

soup4=BeautifulSoup(page.content)

In [29]:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [30]:
# Top 10 Team
team=[]  # empty list for storing

for i in soup4.find_all("span",class_="u-hide-phablet"):
    team.append(i.text)
team[:10]

['New Zealand',
 'England',
 'Australia',
 'India',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies']

In [31]:
# No of matches for 1st Team i.e New Zealand
matches=[]
matches=soup4.find("td",class_="rankings-block__banner--matches")
matches.text

'26'

In [32]:
# No of points for 1st Team i.e New Zealand

Points=[]  # empty list for storing

points=soup4.find("td",class_="rankings-block__banner--points")
points.text

'3,045'

In [33]:
# No of rating for 1st Team i.e New Zealand

rating=soup4.find("td",class_="rankings-block__banner--rating u-text-right")
rating.text.replace("\n","")
print(rating.text.strip())

117

In [34]:
# No of Matches, Rating and points for the other 9 team along with team names.

men_cricket_team_details=[]
for i in soup4.find_all('tr',class_="table-body"):
    men_cricket_team_details.append(i.text.replace("\n",""))

men_cricket_team_details[:9]

['2EnglandENG303,400113',
 '3AustraliaAUS323,572112',
 '4IndiaIND404,377109',
 '5PakistanPAK252,649106',
 '6South AfricaSA242,392100',
 '7BangladeshBAN333,12995',
 '8Sri LankaSL332,91788',
 '9AfghanistanAFG201,41971',
 '10West IndiesWI412,90271']

In [35]:
# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [36]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page

In [37]:
# Page content

soup4=BeautifulSoup(page.content)

In [38]:
# Top 10 Batsmen

# Got the 1st Batsmens Details
Batsmen=[]  # empty list for storing

for i in soup4.find("div",class_="rankings-block__banner--player-info"):
                        
    Batsmen.append(i.text.replace("\n",""))
Batsmen

['', 'Babar Azam', '', 'PAK                            891', '']

In [39]:
# The other 9 ODI top Batsmen Name

odi_top_men_batting_player_name=[]  # empty list for storing

for i in soup4.find_all("td",class_="table-body__cell name"):
                        
    odi_top_men_batting_player_name.append(i.text.replace("\n",""))
odi_top_men_batting_player_name[:9]

['Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'David Warner',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow',
 'Fakhar Zaman']

In [40]:

# Odi_top_men_batting_palyer_team_list

odi_top_men_batting_palyer_team_list=[]  # empty list for storing

for i in soup4.find_all("span",class_="table-body__logo-text"):
                        
    odi_top_men_batting_palyer_team_list.append(i.text.replace("\n",""))
odi_top_men_batting_palyer_team_list[:9]

['SA', 'PAK', 'SA', 'AUS', 'IND', 'AUS', 'IND', 'ENG', 'PAK']

In [41]:
# Odi_top_men_batting_palyer_team_rating

odi_top_team_batting_rating=[]  # empty list for storing

for i in soup4.find_all("td",class_="table-body__cell u-text-right rating"):
    odi_top_team_batting_rating.append(i.text.replace("\n",""))
                        
odi_top_team_batting_rating[:9]

['766', '764', '759', '747', '726', '719', '715', '710', '695']

In [42]:
# Making DataFrame of the 9 top Batsmen

import pandas as pd 
ODI_TOP_Batsmen=pd.DataFrame({'odi_top_men_batting_player_name':odi_top_men_batting_player_name[:9],'odi_top_men_batting_palyer_team_list':odi_top_men_batting_palyer_team_list[:9],'odi_top_men_batting_palyer_team_rating':odi_top_team_batting_rating[:9]})
ODI_TOP_Batsmen=ODI_TOP_Batsmen.style.hide(axis='index')
ODI_TOP_Batsmen

In [43]:
# c) Top 10 ODI bowlers along with the records of their team and rating.

In [44]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [45]:
# Page content

soup4=BeautifulSoup(page.content)

In [46]:
# Top 10 Bowler

# Got the 1st Batsmen details

Bowler=[]  # empty list for storing

for i in soup4.find("div",class_="rankings-block__banner--name-large"):
                        
    Bowler.append(i.text.replace("\n",""))
Bowler

['Trent Boult']

In [47]:
# bowler 1 Team

bowler_1_team=[]
for i in soup4.find_all("div",class_="rankings-block__banner--nationality"):
                        
    bowler_1_team.append(i.text.replace("\n",""))
bowler_1_team

['NZ                    ']

In [48]:
# bowler 1 Rating

bowler_1_rating=[]
for i in soup4.find_all("div",class_="rankings-block__banner--rating"):
                        
    bowler_1_rating.append(i.text.replace("\n",""))
bowler_1_rating

['744']

In [49]:
import pandas as pd 
Top_1_bowler_ODI=pd.DataFrame({'Bowler':Bowler[:1],'bowler_1_team':bowler_1_team[:1],'bowler_1_rating':bowler_1_rating[:1]})
Top_1_bowler_ODI=Top_1_bowler_ODI.style.hide(axis='index')
Top_1_bowler_ODI

In [50]:
# Remaining 9 Bowler's Name

Bowler_details=[]  # empty list for storing

for i in soup4.find_all("td",class_="table-body__cell rankings-table__name name"):
                            
    Bowler_details.append(i.text.replace("\n",""))
Bowler_details[:9]

['Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Matt Henry',
 'Adam Zampa',
 'Shaheen Afridi',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman']

In [51]:
# Remaining 9 Bowler's Team
Bowler_9_Team=[]  # empty list for storing

for i in soup4.find_all("span",class_="table-body__logo-text"):
                            
    Bowler_9_Team.append(i.text.replace("\n",""))
Bowler_9_Team[:9]

['AUS', 'AUS', 'AFG', 'NZ', 'AUS', 'PAK', 'BAN', 'BAN', 'AFG']

In [52]:
# Remaining 9 Bowler's Ranking
Bowler_9_Ranking=[]  # empty list for storing

for i in soup4.find_all("td",class_="table-body__cell rating"):
                            
    Bowler_9_Ranking.append(i.text.replace("\n",""))
Bowler_9_Ranking[:9]

['727', '665', '659', '656', '655', '654', '652', '638', '637']

In [53]:
# Making DataFrame of the 9 top Bowler

import pandas as pd 
ODI_TOP_Bowler=pd.DataFrame({'Bowler_details':Bowler_details[:9],'Bowler_9_Team':Bowler_9_Team[:9],'Bowler_9_Ranking':Bowler_9_Ranking[:9]})
ODI_TOP_Bowler=ODI_TOP_Bowler.style.hide(axis='index')
ODI_TOP_Bowler

In [54]:
# 6) Write a python program to scrape cricket rankings from icc-cricket.com women team. You have to scrape:

In [55]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [56]:
# Page content

soup6=BeautifulSoup(page.content)

In [57]:
# Top 10 Women Team
# 1st Top Team
Women_1st_top_team=[]  # empty list for storing

Women_1st_top_team=soup6.find("span",class_="u-hide-phablet")
Women_1st_top_team.text

'Australia'

In [58]:
# ODI TOP 10 woemn's Team
    
Women_1st_top_team=[]

for i in soup6.find_all("span",class_="u-hide-phablet"):
    Women_1st_top_team.append(i.text)

Women_1st_top_team[:10]

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [59]:
# No of matches for 1st Team i.e Austraila
No_of_women_team_matches=[]
for i in soup6.find_all("td",class_="rankings-block__banner--matches"):
    No_of_women_team_matches.append(i.text)

No_of_women_team_matches[:10]

['18']

In [60]:
# No of points for 1st Team i.e Austraila

Number_0f_Points_top_women_team=[]  

points=soup6.find("td",class_="rankings-block__banner--points")
points.text

'3,061'

In [61]:
# No of Matches, Rating and points for the other 9 team along with team names.

women_cricket_team_details=[]
for i in soup6.find_all('tr',class_="table-body"):
    women_cricket_team_details.append(i.text.replace("\n",""))

women_cricket_team_details[:9]

['2EnglandENG283,342119',
 '3South AfricaSA263,098119',
 '4IndiaIND272,820104',
 '5New ZealandNZ252,553102',
 '6West IndiesWI272,53594',
 '7BangladeshBAN1398376',
 '8ThailandTHA857272',
 '9PakistanPAK241,51963',
 '10Sri LankaSL835344']

In [62]:
# c) Top 10 ODI bowlers-Women along with the records of their team and rating.

In [63]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [64]:
# Page content

soup6=BeautifulSoup(page.content)

In [65]:
# Top 10 Woemn Batsmen

# Got the 1st Batsmens Details
Women_Batsmen=[]
# empty list for storing

for i in soup6.find("div",class_="rankings-block__banner--player-info"):
                        
    Women_Batsmen.append(i.text.replace("\n",""))
Women_Batsmen

['', 'Alyssa Healy', '', 'AUS                            785', '']

In [66]:
# The other 9 ODI top women_Batsmen Name

odi_top_women_batting_player_name=[]  # empty list for storing

for i in soup6.find_all("td",class_="table-body__cell name"):
                        
    odi_top_women_batting_player_name.append(i.text.replace("\n",""))
odi_top_women_batting_player_name[:9]

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Ellyse Perry']

In [67]:

# Odi_top_women_batting_palyer_team_list

Odi_top_women_batting_palyer_team_list=[]  # empty list for storing

for i in soup6.find_all("span",class_="table-body__logo-text"):
                        
    Odi_top_women_batting_palyer_team_list.append(i.text.replace("\n",""))
Odi_top_women_batting_palyer_team_list[:9]

['AUS', 'SA', 'ENG', 'IND', 'IND', 'AUS', 'AUS', 'SL', 'AUS']

In [68]:
# Odi_top_women_batting_palyer_team_rating

Odi_top_women_batting_palyer_team_rating=[]  # empty list for storing

for i in soup6.find_all("td",class_="table-body__cell u-text-right rating"):
    Odi_top_women_batting_palyer_team_rating.append(i.text.replace("\n",""))
                        
Odi_top_women_batting_palyer_team_rating[:9]

['749', '732', '731', '716', '714', '710', '701', '655', '642']

In [69]:
# Making DataFrame of the 9 top women Batsmen

import pandas as pd 
ODI_TOP_women_Batsmen=pd.DataFrame({'odi_top_women_batting_player_name':odi_top_women_batting_player_name[:9],'Odi_top_women_batting_palyer_team_list':Odi_top_women_batting_palyer_team_list[:9],'odi_top_women_batting_palyer_team_rating':Odi_top_women_batting_palyer_team_rating[:9]})
ODI_TOP_women_Batsmen=ODI_TOP_women_Batsmen.style.hide(axis='index')
ODI_TOP_women_Batsmen

In [70]:
#Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [71]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [72]:
# Page content

soup6=BeautifulSoup(page.content)

In [73]:

# Got the 1st Allrounder Name
Women_Allrounder=[]
# empty list for storing

for i in soup6.find("div",class_="rankings-block__banner--name-large"):
                        
    Women_Allrounder.append(i.text.replace("\n",""))
Women_Allrounder

['Ellyse Perry']

In [74]:
# 1st Allrounder women team

First_allrounder_women_team=[]
for i in soup6.find_all("div",class_="rankings-block__banner--nationality"):
                        
    First_allrounder_women_team.append(i.text.replace("\n",""))
First_allrounder_women_team

['AUS                    ']

In [75]:
# 1st Allrounder women Rating

First_allrounder_women_rating=[]

for i in soup6.find_all("div",class_="rankings-block__banner--rating"):
                        
    First_allrounder_women_rating.append(i.text.replace("\n",""))
First_allrounder_women_rating

['374']

In [76]:
import pandas as pd 
Top_1_allrounder_women_ODI=pd.DataFrame({'Women_Allrounder':Women_Allrounder[:1],'First_allrounder_women_team':First_allrounder_women_team[:1],'First_allrounder_women_rating':First_allrounder_women_rating[:1]})
Top_1_allrounder_women_ODI.style.hide(axis='index')
Top_1_allrounder_women_ODI

  Women_Allrounder First_allrounder_women_team First_allrounder_women_rating
0     Ellyse Perry     AUS                                               374

In [77]:
# Remaining 9 Allrounder's Name

Allrounder_women_name_details=[]  # empty list for storing

for i in soup6.find_all("td",class_="table-body__cell rankings-table__name name"):
                            
    Allrounder_women_name_details.append(i.text.replace("\n",""))
Allrounder_women_name_details[:9]

['Hayley Matthews',
 'Natalie Sciver',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Sophie Ecclestone']

In [78]:
# Remaining 9 Allrounder's Women Team

Allrounder_women_Team=[]  

for i in soup6.find_all("span",class_="table-body__logo-text"):
                            
    Allrounder_women_Team.append(i.text.replace("\n",""))
Allrounder_women_Team[:9]

['WI', 'ENG', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'IND', 'ENG']

In [79]:
# Remaining 9 Women Allrounder Ranking

Allrounder_women_Ranking=[]  # empty list for storing

for i in soup6.find_all("td",class_="table-body__cell rating"):
                            
    Allrounder_women_Ranking.append(i.text.replace("\n",""))
Allrounder_women_Ranking[:9]

['373', '371', '349', '336', '322', '270', '246', '214', '205']

In [80]:
# Making DataFrame of the 9 top Women Allrounderuu

import pandas as pd 
ODI_TOP_Women_Allrounder=pd.DataFrame({'Allrounder_women_name_details':Allrounder_women_name_details[:9],'Allrounder_women_Team':Allrounder_women_Team[:9],'Allrounder_women_Ranking':Allrounder_women_Ranking[:9]})
ODI_TOP_Women_Allrounder.style.hide(axis='index')
ODI_TOP_Women_Allrounder

  Allrounder_women_name_details Allrounder_women_Team Allrounder_women_Ranking
0               Hayley Matthews                    WI                      373
1                Natalie Sciver                   ENG                      371
2                Marizanne Kapp                    SA                      349
3                   Amelia Kerr                    NZ                      336
4                 Deepti Sharma                   IND                      322
5              Ashleigh Gardner                   AUS                      270
6                 Jess Jonassen                   AUS                      246
7                Jhulan Goswami                   IND                      214
8             Sophie Ecclestone                   ENG                      205

In [81]:
# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [82]:
page=requests.get('https://www.cnbc.com/world/?region=world')
page

In [83]:
# Page content

soup7=BeautifulSoup(page.content)

In [85]:
# Scrapping news Headlines

Headlines=[]  # empty list for storing

for i in soup7.find_all("a",class_="LatestNews-headline"):
    Headlines.append(i.text)
Headlines

['More classified documents found at Biden’s Delaware home, White House counsel says',
 'The biggest risks of using Bluetooth trackers like Apple AirTag, Tile',
 'Veganuary: 3 ways to meet your protein goals on a plant-based diet',
 "Investing in last year's top 10 stocks is 'a recipe for disaster,' expert says",
 '4 side hustles for introverts: Some can bring in tens of thousands of dollars',
 "Here are the odds you'll win the $404 million Powerball jackpot",
 'The condo king of Miami is betting big on a new Fisher Island luxury project',
 'Carmakers upgrade lineups to meet high-end demand, scale back on less expensive cars',
 'What it’s like to deliver for Amazon in new electric Rivian vans',
 'The bold bullish case to be made for U.S. stocks',
 'Earnings stars: Stocks expected to post the biggest profit growth of 2023 ',
 'Morgan Stanley says these are the most undervalued stocks this year',
 'Stocks on a roll. But overbought market, earnings key hurdles in the week ahead',
 'The zero-fare public transit movement is picking up momentum',
 'Building self-discipline by age 27 is crucial, says expert: 3 ways to do it',
 'Iran executes British-Iranian national despite UK, U.S. pleas',
 'Rising commodities prices could be a tailwind for Caterpillar',
 "Cramer's lightning round: Costamare is not a buy",
 'Cramer’s week ahead: Wait before trading on company earnings',
 'CDC review finds it’s unlikely Pfizer booster carries stroke risk for seniors',
 "House targets China, abortion, IRS funding in McCarthy's first week as speaker ",
 "Pro Picks: Watch all of Friday's big stock calls on CNBC",
 "Rep. Santos admits he 'embellished' his resume ― don't do that, experts say",
 '6 question on meditation, answered by an expert ',
 "Trump denies rape in testimony, falsely says accuser indicated 'she loved it'",
 'House Republicans move to regulate crypto industry with a new subcommittee',
 'JPMorgan says college-planning firm it bought lied. Were consumers misled, too?',
 'Bill Gates: We will overshoot 1.5 degrees Celsius of global warming',
 'Take profits on Starbucks after its huge run, and check out these 3 other stocks',
 'Hasbro delays Dungeons & Dragons licensing deal change following fan backlash']

In [86]:
# Scrapping news Time

Time=[]  # empty list for storing

for i in soup7.find_all('span',class_="LatestNews-wrapper"):
    Time.append(i.text)
Time

['13 Hours Ago',
 '14 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '22 Hours Ago',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023',
 'January 13, 2023']

In [87]:
# Scarpping news Link

Link = []
for link in soup7.find_all('a'):
    print(link.get('href'))

#MainContent
//www.cnbc.com/world/
/
/markets/
/pre-markets/
/us-markets/
/markets-europe/
/china-markets/
/markets-asia-pacific/
/world-markets/
/currencies/
/cryptocurrency/
/futures-and-commodities/
/bonds/
/funds-and-etfs/
/business/
/economy/
/finance/
/health-and-science/
/media/
/real-estate/
/energy/
/climate/
/transportation/
/industrials/
/retail/
/wealth/
/life/
/small-business/
/investing/
/personal-finance/
/fintech/
/financial-advisors/
/options-action/
/etf-street/
https://buffett.cnbc.com
/earnings/
/trader-talk/
/technology/
/cybersecurity/
/enterprise/
/internet/
/media/
/mobile/
/social-media/
/cnbc-disruptors/
/tech-guide/
/politics/
/white-house/
/policy/
/defense/
/congress/
/equity-opportunity/
/europe-politics/
/china-politics/
/asia-politics/
/world-politics/
/tv/
/live-audio/
/latest-video/
/top-video/
/video-ceo-interviews/
/europe-television/
/asia-business-day/
/podcast/
/digital-original/
/watchlist/
/investingclub/
/investingclub/charitable-trust/
/investingclub/analysis/
/investingclub/trade-alerts/
/investingclub/video/
/investingclub/education/
/pro/
/pro/news/
/pro/
#
#
/make-it/
/select/
/?region=usa
/world/
/watchlist/
#
#
/
/markets/
/business/
/investing/
/technology/
/politics/
/tv/
/watchlist/
/investingclub/
/pro/
#
#
#
#
#
https://www.cnbc.com/2023/01/13/european-markets-open-to-close-positive-week-on-us-inflation-hopes.html
https://www.cnbc.com/2023/01/13/cramers-week-ahead-wait-before-trading-on-company-earnings.html
https://www.cnbc.com/quotes/US10Y
https://www.cnbc.com/2023/01/13/tesla-cuts-prices-in-us-and-europe-to-stoke-sales.html
https://www.cnbc.com/2023/01/13/sweden-mining-company-lkap-finds-big-deposit-of-rare-earth-metals.html
https://www.cnbc.com/2023/01/13/south-koreans-are-the-worlds-biggest-spenders-on-luxury-goods.html
https://www.cnbc.com/2023/01/13/singapore-covid-travel-rules-why-singapore-isnt-singling-china-out.html
https://www.cnbc.com/2023/01/14/covid-news-china-reports-huge-rise-in-deaths-after-who-criticized-data.html
https://www.cnbc.com/2023/01/14/covid-news-china-reports-huge-rise-in-deaths-after-who-criticized-data.html
https://www.cnbc.com/2023/01/13/bank-of-america-expects-a-mild-recession-but-is-preparing-for-worse.html
https://www.cnbc.com/2023/01/13/bank-of-america-expects-a-mild-recession-but-is-preparing-for-worse.html
https://www.cnbc.com/2023/01/14/climate-change-oil-ceo-sultan-al-jaber-is-ideal-person-to-lead-cop-28.html
https://www.cnbc.com/2023/01/14/climate-change-oil-ceo-sultan-al-jaber-is-ideal-person-to-lead-cop-28.html
https://www.cnbc.com/2023/01/14/white-house-says-more-classified-documents-found-at-bidens-home.html
https://www.cnbc.com/2023/01/14/the-biggest-security-pros-and-cons-of-using-bluetooth-gps-trackers.html
https://www.cnbc.com/2023/01/14/veganuary-3-ways-to-meet-your-protein-goals-on-a-plant-based-diet.html
https://www.cnbc.com/2023/01/14/best-performing-stocks-of-2022.html
https://www.cnbc.com/2023/01/14/side-hustles-for-introverts-some-can-bring-in-tens-of-thousands-.html
https://www.cnbc.com/2023/01/14/powerball-odds-of-winning-jackpot.html
https://www.cnbc.com/2023/01/14/condo-king-miami-fisher-island-luxury.html
https://www.cnbc.com/2023/01/14/carmakers-upgrade-lineups-to-meet-demand-for-high-end-options.html
https://www.cnbc.com/2023/01/14/what-its-like-to-deliver-for-amazon-in-new-rivian-electric-vans.html
/pro/
https://www.cnbc.com/2023/01/14/the-bold-bullish-case-to-be-made-for-us-stocks-one-that-not-many-are-voicing-just-yet.html
/pro/
https://www.cnbc.com/2023/01/14/earnings-stars-stocks-most-likely-to-see-biggest-2023-profit-growth.html
/pro/
https://www.cnbc.com/2023/01/14/stocks-like-dicks-sporting-goods-verizon-are-morgan-stanleys-best-buys-for-2023.html
/investingclub/
https://www.cnbc.com/2023/01/14/investing-club-the-week-in-review-the-week-ahead-jan-14-2023.html
https://www.cnbc.com/2023/01/14/zero-fare-public-transit-movement-gains-momentum.html
https://www.cnbc.com/2023/01/14/psychiatrist-from-netflix-doc-stutz-how-to-build-self-discipline.html
https://www.cnbc.com/2023/01/14/iran-executes-british-iranian-national-despite-uk-us-pleas.html
/pro/
https://www.cnbc.com/2023/01/13/rising-commodities-prices-could-be-a-tailwind-for-caterpillar-and-these-industrial-names.html
https://www.cnbc.com/2023/01/13/cramers-lightning-round-costamare-is-not-a-buy.html
https://www.cnbc.com/2023/01/13/cramers-week-ahead-wait-before-trading-on-company-earnings.html
https://www.cnbc.com/2023/01/13/pfizer-covid-booster-likely-doesnt-carry-stroke-risk-for-seniors-cdc-says.html
https://www.cnbc.com/2023/01/13/gop-house-targets-china-abortion-irs-funding-in-mccarthys-first-week-as-speaker-.html
/pro/
https://www.cnbc.com/2023/01/13/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html
https://www.cnbc.com/2023/01/13/george-santos-embellished-his-resume-dont-do-that-experts-say.html
https://www.cnbc.com/2023/01/13/6-meditation-questions-answered-by-an-expert.html
https://www.cnbc.com/2023/01/13/trump-deposition-in-e-jean-carroll-rape-defamation-case-ordered-unsealed.html
https://www.cnbc.com/2023/01/13/house-republicans-move-to-regulate-crypto-with-new-subcommittee.html
https://www.cnbc.com/2023/01/13/jpmorgan-says-college-planning-firm-it-bought-lied-about-its-size.html
https://www.cnbc.com/2023/01/13/bill-gates-we-will-overshoot-1point5-degrees-of-global-warming.html
/investingclub/
https://www.cnbc.com/2023/01/13/take-profits-on-starbucks-after-its-huge-run-and-check-out-these-3-other-stocks.html
https://www.cnbc.com/2023/01/13/hasbro-delays-new-dungeons-dragons-licensing-rules.html
/us-market-movers/
https://www.cnbc.com/2023/01/14/bitcoin-climbs-above-20000-first-time-in-over-two-months.html
https://www.cnbc.com/2023/01/14/bitcoin-climbs-above-20000-first-time-in-over-two-months.html
/pro/
https://www.cnbc.com/2023/01/13/whartons-jeremy-siegel-says-the-us-really-solved-the-inflation-problem.html
https://www.cnbc.com/alex-harring/
https://www.cnbc.com/2023/01/13/whartons-jeremy-siegel-says-the-us-really-solved-the-inflation-problem.html
https://www.cnbc.com/alex-harring/
https://www.cnbc.com/2023/01/12/stock-market-futures-open-to-close-news.html
https://www.cnbc.com/tanaya-macheel/
https://www.cnbc.com/samantha-subin/
https://www.cnbc.com/2023/01/12/stock-market-futures-open-to-close-news.html
https://www.cnbc.com/tanaya-macheel/
https://www.cnbc.com/samantha-subin/
https://www.cnbc.com/2023/01/13/germanys-scholz-only-g7-leader-set-to-attend-davos.html
https://www.cnbc.com/jenni-reid/
https://www.cnbc.com/2023/01/13/germanys-scholz-only-g7-leader-set-to-attend-davos.html
https://www.cnbc.com/jenni-reid/
https://www.cnbc.com/2023/01/14/russian-missiles-strike-vital-infrastructure-in-kyiv-and-kharkiv.html
https://www.cnbc.com/2023/01/14/russian-missiles-strike-vital-infrastructure-in-kyiv-and-kharkiv.html
/pro/
https://www.cnbc.com/2023/01/13/jpmorgan-upgrades-this-under-the-radar-latin-american-airline-says-it-can-rally-50percent.html
https://www.cnbc.com/alex-harring/
https://www.cnbc.com/2023/01/13/jpmorgan-upgrades-this-under-the-radar-latin-american-airline-says-it-can-rally-50percent.html
https://www.cnbc.com/alex-harring/
https://www.cnbc.com/2023/01/13/us-will-hit-its-debt-limit-thursday-start-taking-steps-to-avoid-default-yellen-warns-congress.html
https://www.cnbc.com/dan-mangan/
https://www.cnbc.com/christina-wilkie/
https://www.cnbc.com/kayla-tausche/
https://www.cnbc.com/2023/01/13/us-will-hit-its-debt-limit-thursday-start-taking-steps-to-avoid-default-yellen-warns-congress.html
https://www.cnbc.com/dan-mangan/
https://www.cnbc.com/christina-wilkie/
https://www.cnbc.com/kayla-tausche/
https://www.cnbc.com/2023/01/13/flash-star-ezra-miller-avoids-jail-trespassing-plea-deal.html
https://www.cnbc.com/2023/01/13/flash-star-ezra-miller-avoids-jail-trespassing-plea-deal.html
https://www.cnbc.com/2023/01/13/sweden-mining-company-lkap-finds-big-deposit-of-rare-earth-metals.html
https://www.cnbc.com/2023/01/13/sweden-mining-company-lkap-finds-big-deposit-of-rare-earth-metals.html
https://www.cnbc.com/2023/01/14/iran-executes-british-iranian-national-despite-uk-us-pleas.html
https://www.cnbc.com/2023/01/14/iran-executes-british-iranian-national-despite-uk-us-pleas.html
https://www.cnbc.com/2023/01/14/brazil-top-court-to-investigate-bolsonaro-role-in-brasilia-riots.html
https://www.cnbc.com/2023/01/14/brazil-top-court-to-investigate-bolsonaro-role-in-brasilia-riots.html
/pro/
https://www.cnbc.com/2023/01/13/wall-streets-favorite-income-plays-for-2023.html
https://www.cnbc.com/michelle-fox/
https://www.cnbc.com/2023/01/13/wall-streets-favorite-income-plays-for-2023.html
https://www.cnbc.com/michelle-fox/
https://www.cnbc.com/2023/01/14/qatar-uae-energy-ministers-say-gas-will-be-needed-for-long-time.html
https://www.cnbc.com/2023/01/14/qatar-uae-energy-ministers-say-gas-will-be-needed-for-long-time.html
https://www.cnbc.com/2023/01/13/biden-and-kishida-to-discuss-japan-stepping-up-security.html
https://www.cnbc.com/2023/01/13/biden-and-kishida-to-discuss-japan-stepping-up-security.html
https://www.cnbc.com/2023/01/13/pfizer-covid-booster-likely-doesnt-carry-stroke-risk-for-seniors-cdc-says.html
https://www.cnbc.com/spencer-kimball/
https://www.cnbc.com/2023/01/13/pfizer-covid-booster-likely-doesnt-carry-stroke-risk-for-seniors-cdc-says.html
https://www.cnbc.com/spencer-kimball/
https://www.cnbc.com/2023/01/14/a-battle-between-disney-and-activist-peltz-brews-heres-how-the-situation-may-unfold.html
https://www.cnbc.com/kenneth-squire/
https://www.cnbc.com/2023/01/14/a-battle-between-disney-and-activist-peltz-brews-heres-how-the-situation-may-unfold.html
https://www.cnbc.com/kenneth-squire/
https://www.cnbc.com/2023/01/13/live-updates-latest-news-on-russia-and-the-war-in-ukraine.html
https://www.cnbc.com/amanda-macias/
https://www.cnbc.com/natasha-turak/
https://www.cnbc.com/2023/01/13/live-updates-latest-news-on-russia-and-the-war-in-ukraine.html
https://www.cnbc.com/amanda-macias/
https://www.cnbc.com/natasha-turak/
https://www.cnbc.com/2023/01/13/trump-deposition-in-e-jean-carroll-rape-defamation-case-ordered-unsealed.html
https://www.cnbc.com/dan-mangan/
https://www.cnbc.com/2023/01/13/trump-deposition-in-e-jean-carroll-rape-defamation-case-ordered-unsealed.html
https://www.cnbc.com/dan-mangan/
https://www.cnbc.com/2023/01/13/putins-reshuffle-of-ukraines-military-command-reveals-power-struggle.html
https://www.cnbc.com/holly-ellyatt/
https://www.cnbc.com/2023/01/13/putins-reshuffle-of-ukraines-military-command-reveals-power-struggle.html
https://www.cnbc.com/holly-ellyatt/
https://www.cnbc.com/2023/01/13/tesla-cuts-prices-in-us-and-europe-to-stoke-sales.html
https://www.cnbc.com/lora-kolodny/
https://www.cnbc.com/2023/01/13/tesla-cuts-prices-in-us-and-europe-to-stoke-sales.html
https://www.cnbc.com/lora-kolodny/
//www.cnbc.com/us-market-movers/
/us-market-movers/
/stocks/
/pro/
https://www.cnbc.com/2023/01/14/the-bold-bullish-case-to-be-made-for-us-stocks-one-that-not-many-are-voicing-just-yet.html
https://www.cnbc.com/michael-santoli/
/pro/
https://www.cnbc.com/2023/01/13/corporate-profit-reports-in-the-week-ahead-could-show-earnings-recession.html
https://www.cnbc.com/patti-domm/
/pro/
https://www.cnbc.com/2023/01/13/whartons-jeremy-siegel-says-the-us-really-solved-the-inflation-problem.html
https://www.cnbc.com/alex-harring/
https://www.cnbc.com/2023/01/12/stock-market-futures-open-to-close-news.html
https://www.cnbc.com/tanaya-macheel/
https://www.cnbc.com/samantha-subin/
//www.cnbc.com/live-tv/
//www.cnbc.com/latest-video/
https://www.cnbc.com/video/2023/01/07/the-rise-and-fall-of-the-boeing-747.html
https://www.cnbc.com/video/2023/01/08/how-medical-debt-became-normal-in-the-us.html
https://www.cnbc.com/video/2023/01/09/how-to-retire-with-2-million-on-a-100000-annual-salary.html
https://www.cnbc.com/special-reports/
https://www.cnbc.com/2023/01/13/bill-gates-we-will-overshoot-1point5-degrees-of-global-warming.html
https://www.cnbc.com/2023/01/12/updates-to-student-loan-repayment.html
https://www.cnbc.com/2023/01/14/white-house-says-more-classified-documents-found-at-bidens-home.html
https://www.cnbc.com/2023/01/13/45-year-old-brain-expert-shares-exactly-what-he-eats-in-a-day-to-keep-his-brain-sharp-and-young.html
https://www.cnbc.com/2023/01/14/side-hustles-for-introverts-some-can-bring-in-tens-of-thousands-.html
https://www.cnbc.com/pro/news/
https://www.cnbc.com/2023/01/14/the-bold-bullish-case-to-be-made-for-us-stocks-one-that-not-many-are-voicing-just-yet.html
/pro/
https://www.cnbc.com/2023/01/14/the-bold-bullish-case-to-be-made-for-us-stocks-one-that-not-many-are-voicing-just-yet.html
https://www.cnbc.com/michael-santoli/
https://www.cnbc.com/2023/01/14/stocks-like-dicks-sporting-goods-verizon-are-morgan-stanleys-best-buys-for-2023.html
/pro/
https://www.cnbc.com/2023/01/14/stocks-like-dicks-sporting-goods-verizon-are-morgan-stanleys-best-buys-for-2023.html
https://www.cnbc.com/michael-bloom/
https://www.cnbc.com/2023/01/14/earnings-stars-stocks-most-likely-to-see-biggest-2023-profit-growth.html
/pro/
https://www.cnbc.com/2023/01/14/earnings-stars-stocks-most-likely-to-see-biggest-2023-profit-growth.html
https://www.cnbc.com/tanaya-macheel/
https://www.cnbc.com/2023/01/13/rising-commodities-prices-could-be-a-tailwind-for-caterpillar-and-these-industrial-names.html
/pro/
https://www.cnbc.com/2023/01/13/rising-commodities-prices-could-be-a-tailwind-for-caterpillar-and-these-industrial-names.html
https://www.cnbc.com/seema-mody/
https://www.cnbc.com/2023/01/13/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html
/pro/
https://www.cnbc.com/2023/01/13/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html
https://www.cnbc.com/christina-falso/
https://www.cnbc.com/sustainable-future/
https://www.cnbc.com/2023/01/12/the-world-is-at-the-dawn-of-a-new-industrial-age-iea-says-.html
https://www.cnbc.com/2023/01/12/the-world-is-at-the-dawn-of-a-new-industrial-age-iea-says-.html
https://www.cnbc.com/anmar-frangoul-profile--cnbc/
https://www.cnbc.com/video/2023/01/13/the-body-shops-chris-davis-talks-recycling-and-the-circular-economy.html
https://www.cnbc.com/video/2023/01/13/the-body-shops-chris-davis-talks-recycling-and-the-circular-economy.html
https://www.cnbc.com/video/2022/12/29/carbon-disclosure-project-progress-slow-on-deforestation-water-security.html
https://www.cnbc.com/video/2022/12/29/carbon-disclosure-project-progress-slow-on-deforestation-water-security.html
https://www.cnbc.com/2022/11/20/cop27-new-global-climate-deal-struck-at-conference-in-egypt.html
https://www.cnbc.com/2022/11/20/cop27-new-global-climate-deal-struck-at-conference-in-egypt.html
https://www.cnbc.com/sam-meredith/
https://www.cnbc.com/2022/11/18/indiscriminate-use-of-hydrogen-could-slow-energy-transition-report.html
https://www.cnbc.com/2022/11/18/indiscriminate-use-of-hydrogen-could-slow-energy-transition-report.html
https://www.cnbc.com/anmar-frangoul-profile--cnbc/
https://www.cnbc.com/coronavirus/
https://www.cnbc.com/2023/01/13/pfizer-covid-booster-likely-doesnt-carry-stroke-risk-for-seniors-cdc-says.html
https://www.cnbc.com/2023/01/13/pfizer-covid-booster-likely-doesnt-carry-stroke-risk-for-seniors-cdc-says.html
https://www.cnbc.com/spencer-kimball/
https://www.cnbc.com/2023/01/13/us-uninsured-rate-fell-during-covid-pandemic-as-medicaid-and-obamacare-coverage-grew.html
https://www.cnbc.com/2023/01/13/us-uninsured-rate-fell-during-covid-pandemic-as-medicaid-and-obamacare-coverage-grew.html
https://www.cnbc.com/spencer-kimball/
https://www.cnbc.com/2023/01/13/jpmorgan-chase-jpm-earnings-4q-2022.html
https://www.cnbc.com/2023/01/13/jpmorgan-chase-jpm-earnings-4q-2022.html
https://www.cnbc.com/hugh-son/
https://www.cnbc.com/2023/01/13/singapore-covid-travel-rules-why-singapore-isnt-singling-china-out.html
https://www.cnbc.com/2023/01/13/singapore-covid-travel-rules-why-singapore-isnt-singling-china-out.html
https://www.cnbc.com/monica-pitrelli/
https://www.cnbc.com/2023/01/12/measles-250000-kindergarteners-are-vulnerable-due-to-drop-in-vaccination-rate-.html
https://www.cnbc.com/2023/01/12/measles-250000-kindergarteners-are-vulnerable-due-to-drop-in-vaccination-rate-.html
https://www.cnbc.com/spencer-kimball/
https://www.cnbc.com/cnbc-travel/
https://www.cnbc.com/2023/01/13/singapore-covid-travel-rules-why-singapore-isnt-singling-china-out.html
https://www.cnbc.com/2023/01/13/singapore-covid-travel-rules-why-singapore-isnt-singling-china-out.html
https://www.cnbc.com/monica-pitrelli/
https://www.cnbc.com/2023/01/11/south-korea-covid-rules-not-discriminatory-to-chinese-travelers.html
https://www.cnbc.com/2023/01/11/south-korea-covid-rules-not-discriminatory-to-chinese-travelers.html
https://www.cnbc.com/monica-pitrelli/
https://www.cnbc.com/2023/01/10/covid-travel-rules-chinese-are-angry-at-south-korea-and-japan.html
https://www.cnbc.com/2023/01/10/covid-travel-rules-chinese-are-angry-at-south-korea-and-japan.html
https://www.cnbc.com/monica-pitrelli/
https://www.cnbc.com/2022/12/23/how-do-christmas-traditions-vary-around-the-world-see-the-photos.html
https://www.cnbc.com/2022/12/23/how-do-christmas-traditions-vary-around-the-world-see-the-photos.html
https://www.cnbc.com/natalie-tham/
https://www.cnbc.com/2022/12/22/what-to-make-for-christmas-dinner-it-depends-on-where-you-live.html
https://www.cnbc.com/2022/12/22/what-to-make-for-christmas-dinner-it-depends-on-where-you-live.html
https://www.cnbc.com/monica-pitrelli/
https://www.cnbc.com/make-it/
https://www.cnbc.com/2023/01/14/veganuary-3-ways-to-meet-your-protein-goals-on-a-plant-based-diet.html
https://www.cnbc.com/2023/01/14/veganuary-3-ways-to-meet-your-protein-goals-on-a-plant-based-diet.html
https://www.cnbc.com/renee-onque/
https://www.cnbc.com/2023/01/14/best-performing-stocks-of-2022.html
https://www.cnbc.com/2023/01/14/best-performing-stocks-of-2022.html
https://www.cnbc.com/ryan-ermey-bio/
https://www.cnbc.com/2023/01/14/side-hustles-for-introverts-some-can-bring-in-tens-of-thousands-.html
https://www.cnbc.com/2023/01/14/side-hustles-for-introverts-some-can-bring-in-tens-of-thousands-.html
https://www.cnbc.com/gili-malinsky-bio/
https://www.cnbc.com/2023/01/14/powerball-odds-of-winning-jackpot.html
https://www.cnbc.com/2023/01/14/powerball-odds-of-winning-jackpot.html
https://www.cnbc.com/mike-winters/
https://www.cnbc.com/2023/01/14/psychiatrist-from-netflix-doc-stutz-how-to-build-self-discipline.html
https://www.cnbc.com/2023/01/14/psychiatrist-from-netflix-doc-stutz-how-to-build-self-discipline.html
https://www.cnbc.com/megan-sauer/
https://www.cnbc.com/investing-in-supertrends/
https://www.cnbc.com/2022/08/18/web3-is-in-chaos-metaverses-in-walled-gardens-randi-zuckerberg.html
https://www.cnbc.com/2022/08/18/web3-is-in-chaos-metaverses-in-walled-gardens-randi-zuckerberg.html
https://www.cnbc.com/goh-chiew-tong/
https://www.cnbc.com/2022/08/17/japan-support-for-nuclear-restart-is-highest-since-fukushima-disaster.html
https://www.cnbc.com/2022/08/17/japan-support-for-nuclear-restart-is-highest-since-fukushima-disaster.html
https://www.cnbc.com/lee-ying-shan/
https://www.cnbc.com/2022/08/10/india-australia-singapore-firms-jobs-are-in-these-sectors-linkedin.html
https://www.cnbc.com/2022/08/10/india-australia-singapore-firms-jobs-are-in-these-sectors-linkedin.html
https://www.cnbc.com/charmaine-jacob/
https://www.cnbc.com/2022/08/08/baidus-robotaxis-dont-need-any-human-staff-in-these-parts-of-china.html
https://www.cnbc.com/2022/08/08/baidus-robotaxis-dont-need-any-human-staff-in-these-parts-of-china.html
https://www.cnbc.com/evelyn-cheng/
https://www.cnbc.com/2021/07/26/action-on-climate-change-can-boost-global-economy-economist-says.html
https://www.cnbc.com/2021/07/26/action-on-climate-change-can-boost-global-economy-economist-says.html
//www.cnbc.com
//www.cnbc.com/application/pro/?__source=pro|globalfooter/
//www.cnbc.com/cnbc-reprints/
https://www.cnbccouncils.com/
https://corporate.comcast.com/values/integrity

In [88]:
# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

In [89]:
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

In [90]:
# Page content

soup8=BeautifulSoup(page.content)

In [91]:
# 1) Scrapping news Paper_Title

Paper_Title=[]  # empty list for storing

for i in soup8.find_all("h2",class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Paper_Title.append(i.text)
Paper_Title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [92]:
# 2) Scrapping news Author

Author=[]  # empty list for storing

for i in soup8.find_all("span",class_="sc-1w3fpd7-0 dnCnAO"):
    Author.append(i.text)
Author

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [93]:
# 2) Scrapping Published_Date

Published_Date=[]  # empty list for storing

for i in soup8.find_all("span",class_="sc-1thf9ly-2 dvggWt"):
    Published_Date.append(i.text)
Published_Date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [94]:
Paper_URL=['https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles']  

for link in soup8.find_all('a'):
    print(link.get('href'))

#skip-to-content-anchor
http://www.elsevier.com
https://account.elsevier.com/auth
https://elsevier.com/about
https://www.elsevier.com/connect
https://www.elsevier.com/about/careers
https://elsevier.com/about
https://www.elsevier.com/connect
https://www.elsevier.com/about/careers
https://www.elsevier.com/rd-solutions
https://www.elsevier.com/clinical-solutions
https://www.elsevier.com/research-platforms
https://www.elsevier.com/research-intelligence
https://www.elsevier.com/education
https://www.elsevier.com/solutions
https://www.elsevier.com/rd-solutions
https://www.elsevier.com/clinical-solutions
https://www.elsevier.com/research-platforms
https://www.elsevier.com/research-intelligence
https://www.elsevier.com/education
https://www.elsevier.com/solutions
https://www.elsevier.com/authors
https://www.elsevier.com/editors
https://www.elsevier.com/reviewers
https://www.elsevier.com/librarians
https://www.elsevier.com/strategic-partners
https://www.elsevier.com/open-access
https://www.elsevier.com/societies
https://www.elsevier.com/authors
https://www.elsevier.com/editors
https://www.elsevier.com/reviewers
https://www.elsevier.com/librarians
https://www.elsevier.com/strategic-partners
https://www.elsevier.com/open-access
https://www.elsevier.com/societies
https://www.elsevier.com/books-and-journals
https://webshop.elsevier.com/?utm_source=ecom&utm_medium=top&utm_campaign=webshop
https://www.elsevier.com/books-and-journals
https://webshop.elsevier.com/?utm_source=ecom&utm_medium=top&utm_campaign=webshop
https://global-checkout.elsevier.com
https://account.elsevier.com/auth
https://www.sciencedirect.com/science/journal/00043702
https://www.editorialmanager.com/artint/default.aspx
https://www.elsevier.com/
https://www.elsevier.com/search-results?labels=journals
/artificial-intelligence
/artificial-intelligence/most-downloaded-articles
https://www.sciencedirect.com/science/journal/00043702
https://www.editorialmanager.com/artint/default.aspx
https://www.sciencedirect.com/science/journal/00043702
https://www.elsevier.com/journals/artificial-intelligence/0004-3702/guide-for-authors
https://www.editorialmanager.com/artint/default.aspx
https://authors.elsevier.com/tracking/landingpage/selection.do
https://www.elsevier.com/journals/artificial-intelligence/0004-3702/subscribe?subscriptiontype=institutional
https://www.sciencedirect.com/science/article/pii/S0004370221000862
https://www.sciencedirect.com/science/article/pii/S0004370221000722
https://www.sciencedirect.com/science/article/pii/S0004370215000910
https://www.sciencedirect.com/science/article/pii/S0004370298000551
https://www.sciencedirect.com/science/article/pii/S0004370216300790
https://www.sciencedirect.com/science/article/pii/S0004370218305988
https://www.sciencedirect.com/science/article/pii/S0004370220301855
https://www.sciencedirect.com/science/article/pii/S0004370214001386
https://www.sciencedirect.com/science/article/pii/S0004370299000521
https://www.sciencedirect.com/science/article/pii/S0004370219300116
https://www.sciencedirect.com/science/article/pii/S0004370220301533
https://www.sciencedirect.com/science/article/pii/S0004370207000793
https://www.sciencedirect.com/science/article/pii/S0004370216300285
https://www.sciencedirect.com/science/article/pii/S0004370220301958
https://www.sciencedirect.com/science/article/pii/S0004370297000635
https://www.sciencedirect.com/science/article/pii/S0004370221000515
https://www.sciencedirect.com/science/article/pii/S0004370221000539
https://www.sciencedirect.com/science/article/pii/S0004370221000096
https://www.sciencedirect.com/science/article/pii/S0004370216300868
https://www.sciencedirect.com/science/article/pii/S0004370221000588
https://www.sciencedirect.com/science/article/pii/S0004370221000102
https://www.sciencedirect.com/science/article/pii/S0004370213001082
https://www.sciencedirect.com/science/article/pii/S000437029700043X
https://www.sciencedirect.com/science/article/pii/S0004370221000734
https://www.sciencedirect.com/science/article/pii/S0004370209001398
https://www.sciencedirect.com/science/journal/00043702
https://www.sciencedirect.com/user/alerts
https://www.sciencedirect.com/user/register?utm_campaign=sd_recommender_ELSJLS&utm_channel=elseco&dgcid=sd_recommender_ELSJLS
http://www.elsevier.com/authors/home
https://www.editorialmanager.com/artint/default.aspx
https://www.editorialmanager.com/artint/default.aspx
https://researcheracademy.elsevier.com
https://www.elsevier.com/about/policies/copyright/permissions
https://webshop.elsevier.com
https://service.elsevier.com/app/home/supporthub/publishing/#authors
https://authors.elsevier.com/tracking/landingpage/selection.do
https://www.elsevier.com/librarians
https://www.elsevier.com/journals/artificial-intelligence/0004-3702/subscribe?subscriptiontype=institutional
http://www.elsevier.com/editors
http://www.elsevier.com/editors/perk
https://www.elsevier.com/editors/guest-editors
https://service.elsevier.com/app/home/supporthub/publishing/#editors
http://www.elsevier.com/reviewers
https://www.elsevier.com/reviewers/how-to-review
https://www.editorialmanager.com/artint/default.aspx
https://www.elsevier.com/reviewers/becoming-a-reviewer-how-and-why#recognizing
https://service.elsevier.com/app/home/supporthub/publishing/#reviewers
https://www.elsevier.com
//www.elsevier.com/legal/elsevier-website-terms-and-conditions
//www.elsevier.com/legal/privacy-policy
//www.elsevier.com/legal/cookienotice
//www.elsevier.com/sitemap
https://www.relx.com/

In [95]:
#9) Write a python program to scrape mentioned details from dineout.co.in :

In [96]:

page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [97]:
# Page content

soup9=BeautifulSoup(page.content)

In [98]:
# i) Restaurant_name

Restaurant_name=[] 

for i in soup9.find_all('a',class_="restnt-name ellipsis"):
    Restaurant_name.append(i.text)
Restaurant_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [99]:
# ii) Cuisine

Cuisine=[] 

for i in soup9.find_all('span',class_='double-line-ellipsis'):
    Cuisine.append(i.text)
Cuisine

['₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 1,680 for 2 (approx) | North Indian, Asian, Italian',
 '₹ 3,000 for 2 (approx) | Italian, Continental',
 '₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 1,700 for 2 (approx) | North Indian, Chinese',
 '₹ 2,400 for 2 (approx) | North Indian, Italian',
 '₹ 1,800 for 2 (approx) | North Indian',
 '₹ 1,900 for 2 (approx) | North Indian',
 '₹ 2,200 for 2 (approx) | North Indian, Mughlai']

In [100]:
# iii) Location
location=[]  

for i in soup9.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [101]:
# iv) Ratings

Ratings=[]  

for i in soup9.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)
Ratings

['4.1', '3.9', '4.3', '3.9', '4', '3.9', '3.6', '3.8', '4.3']

In [102]:
# v) Image URL

images=[]
for i in soup9.find_all("img",class_="no-img"):
    images.append(i.get('data-src'))

images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [103]:
# 10) Write a python program to scrape the details of top publications from Google Scholar from

In [105]:
page=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
page